[user]
	name = Alex Peats-Bond
	email = alexpb.tgm@gmail.com
[core]
	editor = emacs
	hooksPath = /Users/apeatsbond/.git-hooks
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[credential]
	helper = osxkeychain
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[alias]
	co = checkout
	
	cm = commit -m
	cmend = commit --amend
	wip = commit -am "wip"

	br = branch
	cbr = rev-parse --abbrev-ref HEAD
	
	st = status
	stp = stash pop
	std = stash drop stash@{0}

	chp = cherry-pick
	sha = rev-parse HEAD

	fo = fetch -p origin
	fom = fetch origin master:master
	fod = fetch origin dev:dev

	rb = rebase
	rbi = rebase -i
	rbom = rebase origin/master
	rbomi = rebase -i origin/master
	rbod = rebase origin/dev
	rbodi = rebase -i origin/dev
	rbc = rebase --continue

[include]
	path = ~/.gitconfig_local

