[user]
	name = Alex Peats-Bond
	email = replace-me
[branch]
	autosetuprebase = always
[core]
	editor = emacs
	excludesfile = /Users/alex/.gitignore_global
[credential]
	helper = osxkeychain
[fetch]
	writeCommitGraph = true
[protocol]
	version = 2
[rerere]
	enabled = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[push]
	autoSetupRemote = true

[alias]
	br = branch -vv
	brsetup = "!BR=$(git rev-parse --abbrev-ref HEAD); git branch --set-upstream-to=origin/$BR $BR"
	
	co = checkout
	chp = cherry-pick

	d = diff

	cm = commit -m
	cmend = commit --amend
	wip = !git add -A && git commit -m wip

	feature-OD = diff origin/dev...HEAD
	feature-OM = diff origin/main...HEAD

	fo = fetch -p origin
	fom = fetch -p origin main:main
	fod = fetch -p origin dev:dev

	p = pull --no-stat
	pom = pull origin main
	pod = pull origin dev

	pushf = push --force-with-lease
	pushu = !git push -u origin $(git rev-parse --abbrev-ref HEAD)

	rb = rebase
	rbi = rebase -i

	rbom = rebase origin/main
	rbomi = rebase -i origin/main

	rblom = pull --rebase origin main
	rblomi = pull --rebase=interactive origin main

	rblod = pull --rebase origin dev
	rblodi = pull --rebase=interactive origin dev
	
	rbod = rebase origin/dev
	rbodi = rebase -i origin/dev
	rbc = rebase --continue

	reset1 = reset HEAD~1

	sha = rev-parse HEAD
	shacopy = "!git rev-parse HEAD | pbcopy"

	st = status
	sts = status -s
	
	stp = stash pop
	std = stash drop stash@{0}

[include]
	path = ~/.gitconfig_local
[init]
	defaultBranch = main
